<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
<title> دور على عربيتك </title>
<link rel="shortcut icon" type="image" href="one.png.png">
</head>
<style>   
  div {
    height: 85px;
   background: linear-gradient(to bottom, #3e51b4 100%, #ffffff 30%)
    }
    table, th, td {
      border:1px solid black;
      text-align:center;
    } 
    </style> 
    <body style="background-color:#E6EDF5;">    
    <div class="container"style="text-align:center;"  >   
    <hr>    
    <h1 style="font-size: 2rem; color: white ; text-align:center; ">دور على عربيتك&nbsp;&nbsp;</h1>   
    <hr>    
    <table style="width:100%" height="20%" >    
    <tr>
     <td>Name</td>
     <td>specs</td>
     <td>Price</td>
     <td>Photo</td>
    </tr>

    <tr>
      <td>Skoda A8 2024 </td>
      <td> 150-hp 2000cc turbo 4-cylinder </td>
      <td>1,750,000</td>
      <td><img src="{{ url_for('static', filename='images/Skoda A8.png') }}" alt="Skoda A8 car" width="220" height="110" align="center"></td>
     </tr>
 
     <tr>
       <td>Skoda superb 2024 </td>
       <td>150-hp 1400cc turbo </td>
       <td>2,100,000</td>
       <td><img src="{{ url_for('static', filename='images/Skoda superb.png') }}" alt="Skoda superb car"title="Passat" width="210" height="120" align="center"></td>
     </tr>
     
     <tr>
      <td>Volkswagen passat 2024 </td>
      <td>150-hp 1400cc turbo </td>
      <td>1,700,000</td>
      <td><img src="{{ url_for('static', filename='images/Volkswagen passat.png') }}" title="Passatsifohswhfhhw" alt="Volkswagen passat car" width="220" height="120" align="center"></td>
     </tr>
     
     <tr>
      <td>MG 5 2024 </td>
      <td>120-hp 1.5L 4 cylinder   </td>
      <td>900,000 Classic<br>1,050,000 Luxury</td>
      <td><img src="{{ url_for('static', filename='images/MG 5.png') }}" alt="MG 5 car" width="210" height="110" align="center"></td>
     </tr>
     
 
     <tr>
      <td>MG 6 2024 </td>
      <td>160-hp 1.5L Turbo </td>
      <td>1,000,000 LUXURY Black Interior<br>1,350,000 LUXURY Red Interior</td>
      <td><img src="{{ url_for('static', filename='images/MG 6.png') }}" alt="MG 6 car" width="210" height="120" align="center"></td>
     </tr>
     
 
     <tr>
       <td>Fiat Tipo 2023 </td>
       <td>110-hp 1600cc 4-cylinder</td>
       <td>900,000</td>
       <td><img src="{{ url_for('static', filename='images/Fait Tipo.png') }}" alt="Fait Tipo car" width="220" height="120" align="center"></td>
       </tr>
     
     <tr>
       <td>nissan sunny 2024 </td>
       <td>108-hp 1500cc 4-cylinder</td>
       <td>800,000</td>
       <td><img src="{{ url_for('static', filename='images/nissan sunny.png') }}" alt="nissan sunny car" width="210" height="100" align="center"></td>
     </tr>
      
     <tr>
       <td>Audi A4 2023 </td>
       <td>190-hp 2000cc turbo</td>
       <td>1,900,000</td>
       <td><img src="{{ url_for('static', filename='images/Audi a4.png') }}" alt="Audi a4 car" width="200" height="110" align="center"></td>
     </tr>
       
   
     <tr>
      <td>peugeot 301 2024 </td>
      <td>1150-hp 1600cc 4-cylinder</td>
      <td>850,000</td>
      <td><img src="{{ url_for('static', filename='images/peugeot 301.png') }}" alt="peugeot 301 car" width="220" height="110" align="center"></td>
    </tr>

    <tr>
     <td>peugeot 508 2024 </td>
     <td>160-hp 1600cc <br> 215-hp 1600cc turbo </td>
     <td>1,850,000 Active <br>2,300,000 GT MAX</td>
     <td><img src="{{ url_for('static', filename='images/peugeot 508.png') }}" alt="peugeot 508 car" width="220" height="110" align="center"></td>
    </tr>
     
 
     <tr>
       <td>Hyundai cn7 2022 </td>
      <td>127-hp 1600cc 4-cylinder</td>
       <td>1,200,000</td>
       <td><img src="{{ url_for('static', filename='images/Hyundai cn7.png') }}" alt="Hyundai cn7 car" width="210" height="110" align="center"></td>
     </tr>
     
     <tr>
      <td>Toyota corolla 2024 </td>
      <td>120-hp 1600cc 4-cylinder</td>
      <td>1,750,000</td>
      <td><img src="{{ url_for('static', filename='images/Toyota corolla.png') }}" alt="Toyota corolla car" width="210" height="100" align="center"></td>
     </tr>
       
     <tr>
      <td>Honda accord 2024 </td>
      <td>192-hp 1500cc turbo </td>
      <td>2,500,000</td>
      <td><img src="{{ url_for('static', filename='images/Honda civic.png') }}" alt="Honda civic car" width="200" height="120" align="center"></td>
     </tr>

    </table>
    <br>

    <!-- <button>
        <a href="main.html" style="text-align:left;" >
       <img src="455.jpg" alt="HOME page" width="50" height="50" align="center">
     </button> -->
<a href="{{ url_for('main') }}" style="display:block; text-align:center;">
  <img src="{{ url_for('static', filename='images/455.jpg') }}"
       alt="HOME page"
       width="50"
       height="50"
       style="border-radius:25%; display:inline-block; margin:15px auto 20px;">
</a>

    </div> 
    </body>
    </html>

    
